<html>
<head>
	<link href="{{ STATIC_URL }}base.css"  rel='stylesheet' type='text/css'>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}js/header.js"></script>
	<script src="{{ STATIC_URL }}js/info.js"></script>
	<script src="{{ STATIC_URL }}js/portfolio.js"></script>
	<script src="{{ STATIC_URL }}js/slideshow.js"></script>
	{% block include %}{% endblock %}
</head>
<body>
	<div id="main-site">
		<div id="left">
			<div id="slideshow">

				<img src="{{ STATIC_URL }}img/1.jpg">
				<img src="{{ STATIC_URL }}img/2.jpg" style="left: 30px;">
				<img src="{{ STATIC_URL }}img/3.jpg">
				
			</div>
			<div id="slide-buttons">
			</div>
		</div>
		<div id="middle">
		</div>
		<div id="right">
			<div id="header">
				<h1>W+CO</h1>
			</div>
			<div id="menu">
				<div id="profile" class="menu-div">
					<h2>profile</h2>

				</div>
				<div id="portfolio" class="menu-div">
					<h2>portfolio</h2>

				</div>
				<div id="primary-list-portfolio">
					
					
					<h3 class="portfolio-element"  id="education">education</h3>
					<div id="list-education" class="portfolio-list">
						<h3>Tony Weber</h3>
						<h3>Some Guy</h3>
						<h3>Some Guy</h3>
					</div>
					<h3 class="portfolio-element"  id="commercial">commercial</h3>
					<div id="list-commercial" class="portfolio-list">
						<h3>Tony Weber</h3>
						<h3>Some Guy</h3>
						<h3>Some Guy</h3>
					</div>
					<h3 class="portfolio-element" id="residential">residential</h3>
					<div id="list-residential" class="portfolio-list">
						<h3>Tony Weber</h3>
						<h3>Some Guy</h3>
						<h3>Some Guy</h3>
					</div>
					<h3 class="portfolio-element"  id="cultural">cultural</h3>
					<div id="list-cultural" class="portfolio-list">
						<h3>Tony Weber</h3>
						<h3>Some Guy</h3>
						<h3>Some Guy</h3>
					</div>
					<h3 class="portfolio-element" id="sports">sports + leisure</h3>
					<div id="list-sports" class="portfolio-list">
						<h3>Tony Weber</h3>
						<h3>Some Guy</h3>
						<h3>Some Guy</h3>
					</div>
					

				</div>
				<div id="persons" class="menu-div">
					<h2>persons</h2>
				</div>
				<div id="primary-list-persons">
					<h3 class="persons-element">Tony Weber</h3>
					<h3 class="persons-element">Some Guy</h3>
					<h3 class="persons-element">Some Guy</h3>

				</div>
			</div>
			<div id='contact-info'>
				<div id="contact-info-text">
					<p>weberandcompany_<span class="gray">architecture</span></p>
					<p>715 south third street</p>
					<p>philadelphia pennsylvania 19147</p>
					<p>215 922 2499  <a>www.wcoarc.com</a></p>
				</div>
			</div>
		</div>
	</div>
</body>