@font-face {
    font-family: Optima;
    src: url("fonts/optima.ttf");
}
*{
	color: white;
}
*::-webkit-scrollbar{
	display: none;
}
body{
	background-color: black;
	margin: auto;
	height: 100%;
}
h2{
	font-weight: normal;
	font-family: Optima;
	font-size: 24px;
}
h1{
	line-height: 20px;
	font-size: 5em;
	font-family: Optima;
	font-weight: normal;
}
h5 {
    font-size:17px;
    background-color: transparent;
}
h3{
	font-family: Optima;
	font-weight: normal;
}
#main-site{
	margin: auto;
	position: relative;
	margin-top: -350px;
	width:1200px;
	top: 50%;
	height:700;
}
#left{
	float: left;
	width: 450px;
	height:100%;
}
#slideshow{
	margin: auto;
	position: relative;
	margin-top: -175px;
	top :50%;
	width:425px;
	height:350px;
	margin-left: 0px;
}
#slide-buttons{
	margin-top: 370px;
	margin-left: 0px;
	display: inline-block;
	width: 425px;
	height: 75px;
}
#slide-buttons > img{
	width: 100px;
	height: 75px;
	opacity: .75;
}
#slide-buttons > img:hover{
	opacity: 1.0;
	cursor: pointer;
}
#prev{
	margin-left: -20px;
}
#stop{
	margin-left: 80px;
}
#next{
	float: right;
	margin-right: -20px;
}
#slideshow > img{
	margin-left: auto;
	margin-right: auto;
	width:100%;
	top: 0;
	position: absolute;
	height:100%;
	z-index: -2;
}


#middle{
	display: inline-block;
	background-color: white;
	width: 1px;
	margin-left: 60px;
	height: 100%;
}


#right{
	float: right;
	width: 45%;
	height: 100%;
}
#header{
	width: 100%;
	position: absolute;
	margin-top: -27px;
	height: 10%;
}
#menu{
	margin-left: -70px;
	margin-top: 150px;
}
#persons{
	margin-top: -15px;
}
.menu-div{
	margin-bottom: 0px;
	margin-top: 0px;
}
.menu-div:hover{
	cursor: pointer;
}
#primary-list-portfolio{
	height: 0px;
	overflow: hidden;
	margin-left: 50px;
}
#primary-list-persons{
	height: 0px;
	overflow: hidden;
	margin-left: 50px;
}
.portfolio-element{
	margin: 0;
	margin-bottom: 15px;
}
.persons-element{
	margin: 0;
	margin-bottom: 15px;
}
.portfolio-element:hover{
	cursor: pointer;
}
.portfolio-list{
	height: 0px;
	overflow: auto;
	text-align: center;
	width: 250px;
}
.portfolio-list::-webkit-scrollbar { 
    display: none; 
}
.info-ele:hover{
	color: gray;
	cursor: pointer;
}
#contact-info{
	position: absolute;
	top: 624px;
}
.gray{
	color: gray;
}
#info-box{
	width: 300px;
	position: absolute;
	margin-left: 200px;
	height: 400px;
	margin-top: 126px;
}
#info-content{
	margin-left: 30px;
	height: 325px;

	overflow: auto;
}
#contact-info-text{
	text-align: center;
}
#contact-info-text > p{
	font-size: 18px;
	font-family: Optima;
	line-height: 20px;
	font-weight: normal;
	margin-bottom: 0px;
	margin-top: 0px;
}